@font-face {
  font-family: thin;
  src: url(../fonts/thin.otf);
}
@font-face {
  font-family: bold;
  src: url(../fonts/bold.otf);
}
@font-face {
  font-family: light;
  src: url(../fonts/light.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  font-family: breeSerif;
}

.header {
  width: 100%;
  max-width: 1378px;
  display: flex;
  box-sizing: border-box;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
@media only screen and (max-width: 970px) {
  .header {
    padding: 0 15px 0 0;
  }
}
@media only screen and (max-width: 470px) {
  .header {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 470px) {
  .logo-wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .logo-wrapper img {
    width: 77%;
  }
}
@media only screen and (max-width: 470px) {
  .logo-wrapper img {
    width: 100%;
  }
}

.navigation {
  padding-top: 14px;
}
@media only screen and (max-width: 970px) {
  .navigation {
    order: 3;
  }
}
@media only screen and (max-width: 470px) {
  .navigation {
    order: 1;
  }
}
@media only screen and (max-width: 600px) {
  .navigation {
    padding-top: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .navigation {
    padding-top: 10px;
  }
}

.navigation-links {
  display: flex;
}
@media only screen and (max-width: 970px) {
  .navigation-links {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 50vh;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 200ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navigation-links li {
    margin: 15px 0;
  }
}
.navigation-links.nav-active {
  visibility: visible;
  transition: all 300ms;
  width: 100%;
  height: 50vh;
  background: #1c3083;
  left: 0;
  z-index: 1;
  top: 0;
}

.toggle-navigation {
  display: none;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 970px) {
  .toggle-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 4px;
  }
}
.toggle-navigation span {
  width: 25px;
  height: 3px;
  background: #3a4883;
  margin: 2.4px 0;
  transition: all 200ms;
}
.toggle-navigation.toggler-active {
  z-index: 3;
  border: 2px solid white;
  transition: all 200ms;
}
.toggle-navigation.toggler-active span {
  background: white;
}
.toggle-navigation.toggler-active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
  transition: all 300ms;
}
.toggle-navigation.toggler-active span:nth-child(2) {
  visibility: hidden;
}
.toggle-navigation.toggler-active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 7px;
  transition: all 300ms;
}

.nav-link {
  margin: 0 12px;
  color: #1c3083;
  font-size: 22.15px;
}
.nav-link.active {
  font-weight: bold;
}
@media only screen and (max-width: 1150px) {
  .nav-link {
    font-size: 22px;
  }
}
@media only screen and (max-width: 970px) {
  .nav-link {
    color: white;
  }
}

.address {
  padding-top: 14px;
}
.address a {
  font-size: 22.49px;
  box-sizing: border-box;
  padding: 4px 44px;
  background: #4f8d02;
  color: white;
  border: 1px solid transparent;
  font-family: bold;
  transition: all 200ms;
}
.address a:hover {
  color: #4f8d02;
  background: white;
  border: 1px solid #4f8d02;
  transition: all 200ms;
}
@media only screen and (max-width: 1110px) {
  .address a {
    font-size: 28px;
    padding: 4px 44px;
  }
}
@media only screen and (max-width: 970px) {
  .address a {
    padding: 2px 14px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 470px) {
  .address a {
    padding: 8px 22px;
  }
}
@media only screen and (max-width: 970px) {
  .address {
    display: none;
  }
}

.hero-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.hero-content img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: 100% 10%;
}
.hero-content figure {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero-content h2 {
  font-size: 44px;
  padding-bottom: 10px;
  color: #4f8d02;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 400px) {
  .hero-content h2 {
    font-size: 33px;
    text-align: center;
    width: 100%;
  }
}
.hero-content span {
  font-size: 22px;
  padding-bottom: 10px;
  color: #4f8d02;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
.hero-content span:before {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 1px;
  background: #4f8d02;
  left: -136%;
  top: 36%;
}
@media only screen and (max-width: 400px) {
  .hero-content span {
    left: 64%;
    transform: translateX(-54%);
  }
}
@media only screen and (max-width: 370px) {
  .hero-content span {
    left: 66%;
    transform: translateX(-54%);
  }
}
.hero-content p {
  font-size: 28px;
  color: #3a4883;
  padding-left: 39px;
}
@media only screen and (max-width: 400px) {
  .hero-content p {
    font-size: 24px;
    text-align: center;
  }
}

.hero-content__description {
  background: #f2f3f6;
  margin: 100px auto 0 20px;
  padding: 0 28px;
  box-sizing: border-box;
  width: 513px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (max-width: 420px) {
  .hero-content__description {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 400px) {
  .hero-content__description {
    height: 260px;
  }
}

.hero-description-wrapper {
  max-width: 1378px;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (max-width: 420px) {
  .hero-description-wrapper {
    padding: 10px;
  }
}

.call-to-action {
  padding: 50px 0 50px 0;
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (max-width: 665px) {
  .call-to-action {
    padding: 30px 20px;
  }
}

.action-wrapper {
  max-width: 1378px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 665px) {
  .action-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.action-wrapper a {
  width: 38%;
  height: 50px;
  background: #ff1e1a;
  margin: 0 20px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 19px;
  border: 1px solid transparent;
  transition: all 300ms;
}
.action-wrapper a:hover {
  color: #ff1e1a;
  border: 1px solid #ff1e1a;
  background: white;
  transition: all 300ms;
}
.action-wrapper a:nth-child(2) {
  background: #5f9c46;
}
.action-wrapper a:nth-child(2):hover {
  color: #5f9c46;
  border: 1px solid #5f9c46;
  background: white;
  transition: all 300ms;
}
@media only screen and (max-width: 892px) {
  .action-wrapper a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 892px) {
  .action-wrapper a {
    font-size: 25px;
  }
}
@media only screen and (max-width: 665px) {
  .action-wrapper a {
    margin: 5px 5px;
    width: 100%;
  }
}

.services-wrapper {
  max-width: 1378px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.services {
  width: 100%;
  box-shadow: 0 5px 13px -2px rgba(162, 157, 157, 0.75);
  padding: 40px 0;
}

.services-title {
  width: 100%;
  margin: 0 auto;
  font-size: 28px;
  color: #334281;
  font-weight: bold;
  position: relative;
  padding: 0 0 20px 0;
}
.services-title:after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 200px);
  height: 1px;
  background: #334281;
  top: 17px;
  right: 0;
}

.services-list {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media only screen and (max-width: 768px) {
  .services-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services-list li {
  color: #4f8d02;
  font-size: 21px;
}
.services-list li h2 {
  padding: 10px 0;
}
.services-list li img {
  width: 100%;
}

.opening-hours-description {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.opening-hours-description img {
  width: 100%;
}
.opening-hours-description p {
  width: 100%;
  color: white;
  font-size: 35px;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
  box-sizing: border-box;
  padding: 30px 0;
  font-weight: 400;
  text-align: center;
}
@media only screen and (max-width: 1206px) {
  .opening-hours-description p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1145px) {
  .opening-hours-description p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 988px) {
  .opening-hours-description p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .opening-hours-description p {
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 420px) {
  .opening-hours-description p {
    font-size: 25px;
  }
}
.opening-hours-description p strong {
  display: block;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1145px) {
  .opening-hours-description p strong {
    padding-bottom: 10px;
  }
}

.opening-hours__bold {
  font-weight: bold;
}

.about-us, .faqs {
  width: 100%;
}

.about-us-wrapper, .faqs-wrapper {
  max-width: 1378px;
  margin: 70px auto 0;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
}
.about-us-wrapper img, .faqs-wrapper img {
  width: 40%;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .about-us-wrapper, .faqs-wrapper {
    flex-direction: column-reverse;
  }
  .about-us-wrapper img, .faqs-wrapper img {
    width: 100%;
  }
}

.about-us-description {
  box-sizing: border-box;
  padding: 10px 60px;
}
@media only screen and (max-width: 768px) {
  .about-us-description {
    padding: 10px 0;
  }
}
.about-us-description h2 {
  font-size: 28px;
  color: #334281;
  position: relative;
  left: 136px;
  width: 240px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 458px) {
  .about-us-description h2 {
    left: 76px;
  }
}
@media only screen and (max-width: 458px) {
  .about-us-description h2 {
    left: 0;
  }
}
.about-us-description h2:before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 1px;
  background: #334281;
  top: 16px;
  left: -130px;
}
.about-us-description p:nth-child(2) {
  font-size: 30px;
  color: #57920e;
  line-height: 64px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .about-us-description p:nth-child(2) {
    font-size: 45px;
    line-height: 1;
  }
}
@media only screen and (max-width: 458px) {
  .about-us-description p:nth-child(2) {
    font-size: 35px;
  }
}
.about-us-description p:nth-child(3) {
  font-size: 18px;
  color: #303f81;
}
@media only screen and (max-width: 768px) {
  .about-us-description p:nth-child(3) {
    padding-bottom: 50px;
  }
}

.footer {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 50px 60px;
  background-image: url("../images/footerbg.png");
}
@media only screen and (max-width: 460px) {
  .footer {
    padding: 50px 10px;
  }
}

.footer-content-wrapper {
  max-width: 1378px;
  margin: 0 auto;
  display: flex;
}
@media only screen and (max-width: 1042px) {
  .footer-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.footer-content {
  margin: 0;
  opacity: 0.8;
  width: 393px;
}
.footer-content h2 {
  font-size: 36px;
  padding-bottom: 10px;
  color: #4f8d02;
}
@media only screen and (max-width: 1215px) {
  .footer-content h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }
}
.footer-content span {
  font-size: 22px;
  padding-bottom: 10px;
  color: #4f8d02;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}
.footer-content span:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #4f8d02;
  left: -111%;
  top: 36%;
}
@media only screen and (max-width: 400px) {
  .footer-content span {
    left: 64%;
    transform: translateX(-54%);
  }
}
@media only screen and (max-width: 370px) {
  .footer-content span {
    left: 66%;
    transform: translateX(-54%);
  }
}
.footer-content p, .footer-content a {
  font-size: 28px;
  color: #3a4883;
}
@media only screen and (max-width: 400px) {
  .footer-content p, .footer-content a {
    font-size: 24px;
    text-align: center;
    width: 100%;
  }
}
.footer-content a, .footer-content .footer-address {
  font-size: 20px;
  padding-top: 0;
}
.footer-content a {
  padding-top: 15px;
}

.footer-info {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.footer-info ul li, .footer-info .social-media li {
  font-size: 19px;
  padding: 5px 0;
  color: white;
  font-family: light;
}
.footer-info ul li:nth-child(1), .footer-info .social-media li:nth-child(1) {
  font-size: 27px;
  padding: 15px 0 25px 0;
  position: relative;
}
.footer-info ul li:nth-child(1):after, .footer-info .social-media li:nth-child(1):after {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 2px;
  background: white;
  left: 0;
  bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .footer-info ul li:nth-child(1):after, .footer-info .social-media li:nth-child(1):after {
    width: 20%;
  }
}
@media only screen and (max-width: 1042px) {
  .footer-info {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .footer-info {
    flex-direction: column;
  }
}

.social-media p {
  font-size: 19px;
  padding: 5px 0;
  color: white;
}
.social-media p:nth-child(1) {
  font-size: 27px;
  padding: 15px 0 25px 0;
  position: relative;
}
.social-media p:nth-child(1):after {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 2px;
  background: white;
  left: 0;
  bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .social-media p:nth-child(1):after {
    width: 40%;
  }
}
.social-media span {
  font-size: 23px;
  padding: 5px 10px;
  color: white;
}

.page-header {
  width: 100%;
  padding: 0 20px;
  height: 100px;
  background-image: url(../images/headerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.page-header h2 {
  max-width: 1378px;
  margin: 0 auto;
  font-size: 35px;
  color: white;
  line-height: 100px;
}

@media only screen and (max-width: 768px) {
  .about-page {
    margin-top: 10px;
  }
}

.services-page-title {
  text-align: center;
  max-width: 300px;
  font-size: 25px;
}
.services-page-title:before {
  width: 30%;
  left: -20%;
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background: #334281;
  top: 15px;
}
.services-page-title:after {
  width: 30%;
  right: -20%;
  top: 15px;
}
@media only screen and (max-width: 442px) {
  .services-page-title:before {
    left: -7%;
  }
  .services-page-title:after {
    right: -7%;
  }
}
@media only screen and (max-width: 365px) {
  .services-page-title:before, .services-page-title:after {
    display: none;
  }
}

.services-page-description {
  text-align: center;
  color: #57920e;
  font-size: 38px;
  padding-bottom: 50px;
}

.faqs-wrapper {
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .faqs-wrapper {
    flex-direction: column;
  }
  .faqs-wrapper img {
    width: 100%;
  }
}
.faqs-wrapper h2 {
  left: 0;
  font-size: 38px;
  width: 100%;
}
.faqs-wrapper h2:before {
  display: none;
}
.faqs-wrapper p:nth-child(2) {
  font-size: 30px;
  padding-bottom: 0;
}

.question {
  color: #303f81;
  font-size: 20px;
  margin: 15px 0;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}

.contact-page li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact-info {
  color: #334281;
  font-size: 20px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 5px;
}
.contact-form input {
  width: 48%;
  height: 50px;
  margin: 20px 0;
  color: #334281;
  font-size: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
}
.contact-form input::placeholder {
  color: #334281;
  font-size: 20px;
  padding-left: 20px;
}
.contact-form .textarea {
  color: #334281;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  padding: 20px;
}
.contact-form .textarea::placeholder {
  color: #334281;
  font-size: 20px;
  padding: 20px;
}

.send-message {
  color: white;
  background: #5f9c46;
  padding: 9px 60px;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin-top: 40px;
  font-size: 22px;
}

.contact-page img {
  width: 100%;
  object-fit: contain;
}

.faq-ative {
  height: 80px;
}

.answer {
  font-size: 20px !important;
}

.nav-address-wrapper {
  display: flex;
  align-items: center;
}